/* typography */
h1 {
	font-family: 'Julius Sans One', sans-serif;
}

/* main styles */
header {
	background:  url("../img/noisy_net.jpg") repeat;
	padding: 10px 0;
	color: #fff;
	border-bottom: 1px solid rgba(254, 254, 254, .2);
    width:100%;
}

body {
	background:  url("../img/grey_wash_wall.png") repeat;
	margin: 0;
	font-family: 'Sanchez', serif;
    color: #222;
    font-size: 1em;
}

p {
    font-size: .9em;
}

input {
	padding: 5px;
	display: inline;
	width: 56%;
	font-family: 'Sanchez', serif;
}

footer {
	background:  url("../img/noisy_net.jpg") repeat;
	color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 5px 0;
	border-top: 1px solid rgba(254, 254, 254, .2);
}

label[for=letterString], label[for=output] {
	display: block;
	padding-bottom: 5px;
}

label[for=output] {
	float:left;
}

textarea {
	padding: 5px 5px;
	display:block;
	height:200px;
	
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
	
    clear: both;
	font-family: 'Sanchez', serif;
}

#resultFilter {
	display:inline;
	width: 50%;
}

progress {
    width: 100%;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.shadowContainer {
    -webkit-box-shadow: 3px 3px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 8px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 8px rgba(50, 50, 50, 0.75);
}

.appDescription {
    background:  url("../img/noisy_net.jpg") repeat;
    padding: 10px;
    margin-top: 10px;
    color: white;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.mainApp {
    background:  url("../img/az_subtle.png") repeat;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden; 

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dictStatus {
    display:inline;
    padding-left: 20px;
    color: #F20A0A;
}

.dictLoaded {
    color: #89c403;
}

#searchButton {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
    background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
    background-color:#89c403;
    border:1px solid #74b807;
    display:inline-block;
    color:#ffffff;
    font-family: 'Sanchez', serif;
    font-size:15px;
    font-weight:normal;
    padding:4px 24px;
    text-decoration:none;
    margin-left: 20px;
}

#searchButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
    background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
    background-color:#77a809;
}
#searchButton:active {
    position:relative;
    top:1px;
}

.horizontalContainer {
	width: 45%;
	padding: 20px 0;
}

.horizontalContainer span {
	position: relative;
	top: -14px;	
}

.rangeMin {
	padding: 0 10px;
}

.rangeMax {
	padding: 0 0 0 5px;
}

.rangeCount {
	padding: 0 0 0 35px;
}

.inputLayer {
	display: block;
}

.langLayer {
	padding: 20px 0;
	display: block;
    border-bottom: 1px solid rgba(40, 40, 40, .1);
}

.stringLayer {
	padding: 15px 0;
	display: block;
    border-bottom: 1px solid rgba(40, 40, 40, .1);
}

.filterLayer {
    padding-top: 10px;
    border-bottom: 1px solid rgba(40, 40, 40, .1);

}

.outputLayer {
    padding-top: 10px;
}

.sortLink {
	float:right;
}


/* helpers */
.disabled {
	opacity: .1;
	filter:alpha(opacity=1);
}



.hidden {
    display: none !important;
    visibility: hidden;
}
